version: "3.8"
services:
  db:
    image: postgres:15
    container_name: paggo-postgres
    env_file: .env.db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
